@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root {
	--Red: hsl(0, 100%, 74%);
	--Green: hsl(154, 59%, 51%);
	--Blue: hsl(248, 32%, 49%);
	--Dark-Blue: hsl(249, 10%, 26%);
	--Grayish-Blue: hsl(246, 25%, 77%);
}

* {
	box-sizing: border-box;
}

body {
	background-color: var(--Red);
	background-image: url('images/bg-intro-desktop.png');
	font-family: 'Poppins', sans-serif;
}

main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	min-height: 100vh;
}

main .container {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	place-items: center;
	max-width: 68.75rem;
	width: 80%;
	margin: auto;
}

.container .text {
	color: white;
}

.form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	max-width: 25rem;
}

.form p {
	font-size: 14px;
}

.form .ad {
	background-color: var(--Blue);
	color: white;
	padding: 0 3rem;
	border-radius: 0.5rem;
	margin-bottom: 2rem;
	width: 100%;
	text-align: center;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
		rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.form .ad span {
	font-weight: 700;
}

form {
	background-color: white;
	padding: 1.5rem;
	border-radius: 0.5rem;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
		rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

form .form-control {
	padding-bottom: 1rem;
	margin-bottom: 0.8rem;
	position: relative;
}

.form-control small {
	position: absolute;
	right: 1rem;
	visibility: hidden;
}

.form-control i {
	position: absolute;
	right: 0.5rem;
	top: 0.8rem;
	visibility: hidden;
}

input,
button {
	display: block;
	outline: 0;
	width: 100%;
	border-radius: 0.2rem;
	padding: 10px;
	border: 1px solid #ccc;
	font-family: inherit;
}

button {
	background-color: var(--Green);
	color: white;
	border: 0;
	text-align: center;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
		rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
	cursor: pointer;
}

input:focus {
	border: 2px solid var(--Grayish-Blue);
}

button:hover {
	opacity: 0.8;
}

form > small {
	display: inline-block;
	color: var(--Grayish-Blue);
	font-size: 0.62rem;
	margin-top: 0.5rem;
	text-align: center;
}

.form a {
	color: var(--Red);
	text-decoration: none;
	font-weight: 700;
}

/* error and success classes */
.form-control.success input {
	border-color: #2ecc71;
}

.form-control.error input {
	border-color: #e74e3c;
	/* border-color: #e74ec3; */
}

.form-control.success i.fa-check-circle {
	color: #2ecc71;
	visibility: visible;
}

.form-control.error i.fa-exclamation-circle {
	color: #e74e3c;
	visibility: visible;
}

.form-control.error small {
	visibility: visible;
	color: #e74e3c;
}

.form-control.success small {
	visibility: hidden;
}

@media all and (max-width: 37.5rem) {
	main .container {
		display: grid;
		grid-template-columns: 1fr;
		text-align: center;
	}

	main .container .text {
		margin-bottom: 3rem;
	}
}
